<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="2">
    <test verbose="2" preserve-order="true" name="C:/Users/Swapnil Shitole/OneDrive/Desktop/Workflow/Selenium">
            <classes>
                <class name="Tests.SeleniumTest">
                    <methods>
                        <include name="searchResult"/>
                        <include name="dummyResult"/>
                    </methods>
                </class>
            </classes>
    </test>
</suite>